@import "./_normalize.scss";
@import "./_fonts.scss";
@import "./_first.scss";
@import "./_menu.scss";
@import "./_home.scss";
@import "./_call.scss";

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

/* components */
.component {

    &-bottom {
        position: fixed;
        bottom: 2vh;
        right: 1vw;
    }

    &-about,
    &-config {
        display: inline-block;
        margin: 0 10px;

        img,
        span {
            display: inline-block;
            vertical-align: middle;
            height: 1.6vh;
            color: #fff;
        }
    }
}

/* layout */
.layout {
    &-container {
        position: fixed;
        top: 50px;
        left: 50px;
        right: 50px;
        bottom: calc(10vh + 80px);
        // background: rgba(red, .2);
    }

    &-box2x2 {
        width: calc((100% - 150px) / 6 * 2 + 30px);
        height: calc((100% - 120px) / 5 * 2 + 30px);
        background: #fff;
    }

    &-box2x1 {
        width: calc((100% - 150px) / 6 * 2 + 30px);
        height: calc((100% - 120px) / 5 * 1);
        background: #fff;
    }

    &-box2x5 {
        width: calc((100% - 150px) / 6 * 2 + 30px);
        height: calc((100% - 120px) / 5 * 5 + 120px);
        background: #fff;
    }

    &-box2x4 {
        width: calc((100% - 150px) / 6 * 2 + 30px);
        height: calc((100% - 120px) / 5 * 4 + 90px);
        background: #fff;
    }

    &-box2x3 {
        width: calc((100% - 150px) / 6 * 2 + 30px);
        height: calc((100% - 120px) / 5 * 3 + 60px);
        background: #fff;
    }

    &-box4x5 {
        width: calc((100% - 150px) / 6 * 4 + 90px);
        height: calc((100% - 120px) / 5 * 5 + 120px);
        background: #fff;
    }

    &-menu {
        position: fixed;
        left: 50px;
        right: 50px;
        bottom: 50px;
        // background: rgba(red, .2);
        height: 10vh;
    }
}

